/*
    zww-blog-theme 
    @auther:zww
*/

@media (min-width: 1200px) {
    .post-container,
    .sidebar-container {
        padding-right: 5%;
    }
}
@media (min-width: 768px) {
    .post-container {
        padding-right: 5%;
    }
}
.sidebar-container {
    color: #bfbfbf;
    font-size: 14px;
}
.sidebar-container h5 {
    color: #808080;
    margin-top: 3rem;
    text-align: center;
    border-top: 2px solid #333;
}
.sidebar-container h5 a {
    color: #808080 !important;
    text-decoration: none;
    position: relative;
    top: -8px;
    padding: 0 5px;
    background-color: #fff;
}
.sidebar-container a {
    color: #666 !important;
}
.sidebar-container a:hover,
.sidebar-container a:active {
    color: #0085a1 !important;
}
.sidebar-container .tags a {
    border-color: #bfbfbf;
}
.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
    border-color: #0085a1;
}
.sidebar-container .short-about img {
    width: 200px;
    display: block;
    border-radius: 5px;
}
.sidebar-container .short-about p {
    margin: 20px 0;
    color: #666;
}
.sidebar-container .short-about .list-inline > li {
    padding-left: 0px;
}
body {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    font-size: 16px;
    color: #404040;
    overflow-x: hidden;
}
p {
    margin: 30px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    line-height: 1.1;
    font-weight: bold;
}
h4 {
    font-size: 20px;
}
a {
    color: #404040;
}
a:hover,
a:focus {
    color: #0085a1;
}
a img:hover,
a img:focus {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
article {
    overflow-x: hidden;
}
blockquote {
    color: #808080;
    font-style: italic;
    font-size: 0.95em;
    margin: 20px 0 20px;
}
blockquote p {
    margin: 0;
}
small.img-hint {
    display: block;
    margin-top: -20px;
    text-align: center;
}
br + small.img-hint {
    margin-top: -40px;
}
img.shadow {
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}
@media screen and (max-width: 768px) {
    select {
        -webkit-appearance: none;
        margin-top: 15px;
        color: #337ab7;
        border-color: #337ab7;
        padding: 0em 0.4em;
        background: white;
    }
}
.table th,
.table td {
    border: 1px solid #eee !important;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}
pre,
.table-responsive {
    -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 500px) {
    pre code {
        display: block;
        width: 500px;
    }
}
.post-container a {
    color: #337ab7;
}
.post-container a:hover,
.post-container a:focus {
    color: #0085a1;
}
.post-container ul,
.post-container ol {
    margin-bottom: 40px;
}
.post-container ol ol,
.post-container ol ul,
.post-container ul ol,
.post-container ul ul {
    margin-bottom: 5px;
}
.post-container li p {
    margin: 0;
    margin-bottom: 5px;
}
.post-container li h1,
.post-container li h2,
.post-container li h3,
.post-container li h4,
.post-container li h5,
.post-container li h6 {
    line-height: 2;
    margin-top: 20px;
}
@media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse {
        border: none;
        background: white;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
        border-radius: 2px;
        width: 170px;
        float: right;
        margin: 0px;
    }
    #huxblog_navbar {
        opacity: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transform: scaleX(0);
        -webkit-transform-origin: top right;
        -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    }
    #huxblog_navbar a {
        font-size: 13px;
        line-height: 28px;
    }
    #huxblog_navbar .navbar-collapse {
        height: 0px;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transform: scaleY(0);
        -webkit-transform-origin: top right;
        -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #huxblog_navbar li {
        opacity: 0;
        transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
        -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    }
    #huxblog_navbar.in {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        opacity: 1;
    }
    #huxblog_navbar.in .navbar-collapse {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
    #huxblog_navbar.in li {
        opacity: 1;
    }
}
.navbar-custom {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
}
.navbar-custom .navbar-brand {
    font-weight: 800;
    color: white;
    height: 56px;
    line-height: 25px;
    background: url('/img/logo.png');
    text-indent: -10000em;
    width: 56px;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition: all .28s linear;
    transition: all .28s linear;
}
.navbar-custom .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}
.navbar-custom .nav li a:active {
    background: rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom body {
        font-size: 20px;
    }
    .navbar-custom .navbar-brand {
        color: white;
        padding: 20px;
        line-height: 20px;
        background: url('/img/logo.png');
        /*        text-indent: -10em;*/
        width: 61px;
        height: 100%;
        background-size: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-behavior: url(/css/backgroundsize.min.htc);
        behavior: url(/css/backgroundsize.min.htc);
        margin-right: 15px;
    }
    .background-size-polyfill img {
        *width: 61px !important;
        /*处理ie7背景cover*/
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-custom .nav li a {
        color: #fff;
        padding: 20px;
    }
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-custom .nav li a:active {
        background: none;
    }
}
@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transition-property: background;
        transition-property: background;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .navbar-custom.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        z-index: 1;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.9);
        background-color: #fff\9;
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: #404040;
    }
    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #0085a1;
    }
    .navbar-custom.is-fixed .nav li a {
        color: #404040;
        -webkit-transition: text-shadow .3s;
        transition: text-shadow .3s;
    }
    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus {
        color: #0085a1;
    }
    /*导航样式修改start*/
    .navbar-custom.is-fixed .nav li a:hover {
        text-shadow: 0 0 2px #0085a1;
    }
    .navbar-custom.is-fixed .nav li a:hover:before {
        background: #0085a1;
        left: 0;
    }
    .navbar-custom.is-fixed .nav li a:hover:after {
        background: #0085a1;
        right: 0;
    }
    .navbar-custom.is-fixed .nav li a:before {
        content: "";
        display: block;
        height: 4px;
        background: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        -webkit-transition: 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .navbar-custom.is-fixed .nav li a:after {
        content: "";
        display: block;
        height: 4px;
        background: none;
        position: absolute;
        bottom: 0;
        right: 50%;
        width: 50%;
        -webkit-transition: 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    /*导航样式修改end*/
    .navbar-custom.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
.intro-header {
    background: no-repeat top center;
    background-color: #808080;
    background-attachment: scroll;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0px;
    background-image: url(../img/index-bg.jpg);
    /*  height: 650px;*/
    /* 0 on mobile, modify by Hux */
}
@media only screen and (min-width: 768px) {
    .intro-header {
        margin-bottom: 20px;
        /*        margin-top: 61px;*/
        /* response on desktop */
    }
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 85px 0 55px;
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}
.intro-header .site-heading {
    padding: 95px 0 70px;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading {
        padding: 150px 0;
    }
}
.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
        font-weight: 200;
    }
}
.intro-header .post-heading h1 {
    font-size: 30px;
    margin-bottom: 24px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}
.intro-header .post-heading .subheading {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    font-size: 17px;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 30px;
    margin-top: -5px;
}
.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
}
.intro-header .post-heading .meta a {
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 55px;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
    .intro-header .post-heading .meta {
        font-size: 20px;
    }
}
.post-preview > a {
    color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
    text-decoration: none;
    color: #0085a1;
}
.post-preview > a > .post-title {
    font-size: 21px;
    line-height: 1.3;
    margin-top: 30px;
    margin-bottom: 8px;
}
.post-preview > a > .post-subtitle {
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}
.post-preview > .post-meta {
    font-family: 'Lora', 'Times New Roman', serif;
    color: #808080;
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
}
.post-preview > .post-meta > a {
    text-decoration: none;
    color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
    color: #0085a1;
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .post-preview > a > .post-subtitle {
        font-size: 16px;
    }
    .post-preview .post-meta {
        font-size: 18px;
    }
}
.post-content-preview {
    font-size: 13px;
    font-style: normal;
    color: #666;
}
.post-content-preview:hover {
    color: #0085a1;
}
@media only screen and (min-width: 768px) {
    .post-content-preview {
        font-size: 14px;
    }
}
.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}
.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
footer {
    font-size: 20px;
    padding: 50px 0 65px;
}
footer .list-inline {
    margin: 0;
    padding: 0;
}
footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}
footer .copyright a {
    color: #337ab7;
}
footer .copyright a:hover,
footer .copyright a:focus {
    color: #0085a1;
}
footer .heart {
    display: inline-block;
    color: #f44;
    -webkit-animation: zhangweiwei 1.4s infinite;
    position: relative;
    top: -1px;
}
@-webkit-keyframes zhangweiwei {
    0% {
        -webkit-transform: scale(0.75);
    }
    50% {
        -webkit-transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(0.75);
    }
}
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #0085a1;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}
.btn {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}
.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
}
.pager {
    margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
    /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
    font-family: "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    line-height: 1.7;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 5px;
    background-color: white;
    border-radius: 0;
}
@media only screen and (min-width: 768px) {
    .pager li > a,
    .pager li > span {
        font-size: 14px;
        padding: 15px 25px;
    }
}
.pager li > a {
    color: #404040;
}
.pager li > a:hover,
.pager li > a:focus {
    color: white;
    background-color: #0085a1;
    border: 1px solid #0085a1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #808080;
    background-color: #404040;
    cursor: not-allowed;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #0085a1;
}
::selection {
    color: white;
    text-shadow: none;
    background: #0085a1;
}
img::-moz-selection {
    color: white;
    background: transparent;
}
img::selection {
    color: white;
    background: transparent;
}
img::-moz-selection {
    color: white;
    background: transparent;
}
body {
    webkit-tap-highlight-color: #0085a1;
}

/* Hux add tags support */

.tags {
    margin-bottom: -5px;
}
.tags a,
.tags .tag {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 999em;
    padding: 0 10px;
    color: #ffffff;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
}
.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
    color: white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .tags a,
    .tags .tag {
        margin-right: 5px;
    }
}
#tag-heading {
    padding: 70px 0 60px;
}
@media only screen and (min-width: 768px) {
    #tag-heading {
        padding: 55px 0;
    }
}
#tag_cloud {
    margin: 20px 0 15px 0;
}
#tag_cloud a,
#tag_cloud .tag {
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0 2px;
    margin-bottom: 8px;
    background: #D6D6D6;
}
#tag_cloud a:hover,
#tag_cloud .tag:hover,
#tag_cloud a:active,
#tag_cloud .tag:active {
    background-color: #0085a1 !important;
}
@media only screen and (min-width: 768px) {
    #tag_cloud {
        margin-bottom: 25px;
    }
}
.tag-comments {
    font-size: 12px;
}
@media only screen and (min-width: 768px) {
    .tag-comments {
        font-size: 14px;
    }
}
.one-tag-list:first-child {
    margin-top: 0px;
}
.listing-seperator {
    color: #0085a1;
    font-size: 17px !important;
}
.listing-seperator::before {
    margin-right: 5px;
}
@media only screen and (min-width: 768px) {
    .listing-seperator {
        font-size: 20px !important;
        line-height: 1.5 !important;
        margin-top: 5px;
    }
}
.one-tag-list .post-preview {
    position: relative;
}
.one-tag-list .post-preview > a .post-title {
    font-size: 15px;
    margin-top: 20px;
}
.one-tag-list .post-preview > a .post-subtitle {
    font-size: 12px;
}
.one-tag-list .post-preview > .post-meta {
    position: absolute;
    right: 5px;
    bottom: 0px;
    margin: 0px;
    font-size: 12px;
    line-height: 12px;
}
@media only screen and (min-width: 768px) {
    .one-tag-list .post-preview {
        margin-left: 20px;
    }
    .one-tag-list .post-preview > a > .post-title {
        font-size: 18px;
        line-height: 1.3;
    }
    .one-tag-list .post-preview > a > .post-subtitle {
        font-size: 14px;
    }
    .one-tag-list .post-preview .post-meta {
        font-size: 18px;
    }
}

/* Tags support End*/


/* Hux make all img responsible in post-container */

.post-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1.5em auto 1.6em auto;
}

/* Hux Optimize UserExperience */

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: inherit;
}
.navbar-default .navbar-toggle:active {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Hux customize Style for navBar button */

.navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 19px 16px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 50%;
}
.navbar-default .navbar-toggle .icon-bar {
    width: 18px;
    border-radius: 0px;
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

/* Hux customize Style for Duoshuo */

.comment #ds-thread {
    margin-top: 20px;
}
.comment #ds-thread #ds-reset a.ds-like-thread-button {
    border: 1px solid #ddd;
    border-radius: 0px;
    background: white;
    box-shadow: none;
    text-shadow: none;
}
.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
    border: 1px solid #ddd;
    border-radius: 0px;
    background: white;
    box-shadow: none;
    text-shadow: none;
}
.comment #ds-thread #ds-reset .ds-textarea-wrapper {
    background: none;
}
.comment #ds-thread #ds-reset .ds-gradient-bg {
    background: none;
}
#ds-smilies-tooltip ul.ds-smilies-tabs li a {
    background: white !important;
}

/* zhangweiwei 163 music player */

#music-panel {
    position: relative;
    z-index: 999;
    display: none;
}
#music-control.on {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
#music-control {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: url("http://r.photo.store.qq.com/psb?/783e175c-5ac0-4296-bf20-43318237c3bd/hGm0GcWMO2EfwWkftbEXM4CGm3yUjH0O1dZV98RiM.k!/r/dHYBAAAAAAAA");
    background-color: #abcdef;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
#music-control.on+#music-content {
    display: block;
}
#music-control:hover {
    background-color: #12f43d
}
#music-content {
    position: fixed;
    bottom: -53px;
    right: 50px;
    display: none
}
.myMusic {
    /*
    width: 790px;
    height: 285px;
    overflow: hidden;
    position: fixed;
    left: 44%;
    margin-left: -395px;
    bottom: 0;
    z-index: 1;
*/
    display: none;
}
@media (min-width: 980px) {
    .myMusic {
        display: block;
    }
}

/* zww blog hover animation */

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 8em;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
    cursor: pointer;
}
.link--yaku {
    color: rgb( 255, 255, 255);
    text-shadow: 0 0 5px rgb( 0, 0, 0);
    font-family: 'Courier New';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10em;
    overflow: hidden;
    padding: 0;
}
.link--yaku::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-width: 2px 0;
    border-color: #282828;
    border-style: solid;
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    box-sizing: border-box;
}
.link--yaku:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.link--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}
.link--yaku:hover span {
    color: #1e1a1b;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
}
.link--yaku span:nth-child(4),
.link--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.link--yaku span:nth-child(3),
.link--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.link--yaku span:nth-child(2),
.link--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.link--yaku span:first-child,
.link--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/*short-about style*/

.wrap {
    overflow: hidden;
    width: 200px;
    height: 150px;
    -webkit-perspective: 1200px;
    perspective: 1200px;
}
.zww-about {
    width: 200px;
    height: 150px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear
}
.wrap:hover .zww-about {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.about-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.about-face.about-back {
    display: block;
    color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box
}
.back-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
    z-index: 2;
}
.back-content {
    padding: 10px;
    background-color: rgba(250, 144, 77, 0.99);
    color: #fff;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    border-radius: 5px;
    background-color: transparent\9;
    height: 0\9;
}
.title {
    margin: 0;
    font-size: 14px
}
.title a {
    color: #fff
}
.des {
    font-size: 14px;
    margin: 10px 0
}

/*top*/

.actGotop {
    position: fixed;
    _position: absolute;
    bottom: 10px;
    left: 20px;
    display: none;
}
.actGotop .plane {
    background: url(../img/top.gif) no-repeat;
    width: 54px;
    height: 30px;
    zoom: 1;
}
.actGotop .back-info {
    border-radius: 3px;
    background-color: #b4b4b4;
    width: 5em;
    text-align: center;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 12px;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
}
.actGotop:hover .back-info {
    background-color: #abcdef;
}
.person-fix {
    position: fixed;
    top: 40px;
    *top: 32px;
    z-index: auto;
    background-color: #fff;
}
.person-fix p {
    width: 210px;
}
.col-lg-8 {
    *width: 54% !important;
}

/*小工具样式*/

.tools {
    width: 100%;
    height: 100%;
    background-color: #051223;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 5;
    -webkit-transition: all .6s ease-in-out .3s;
    transition: all .6s ease-in-out .3s;
}
.tools .tools_box {
    position: relative;
    margin: auto;
}
@media (min-width: 1200px) {
    .tools .tools_box {
        width: 1170px;
    }
}
@media (min-width: 1024px) {
    .tools .tools_box {
        width: 980px;
    }
}
@media (max-width: 768px) {
    .show-tips {
        display: none;
    }
    .intro-header {
        background-image: url(../img/home-bg.jpg);
    }
}

/* Bounce To Bottom */

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
    color: white;
}
.hvr-bounce-to-bottom:hover:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
[class^="hvr-"] {
    display: inline-block;
    vertical-align: middle;
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.t-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.t-close:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}
.show-tips {
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 50px;
    bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 220px;
    overflow: visible;
}
.show-tips .t-img {
    width: 220px;
    height: 148px;
    background-image: url(../img/left-nav.png);
    cursor: pointer;
}
.soccer-hide {
    left: -100%;
}
.tools-show {
    left: 0%;
}
.ani-delay {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.nav>li.tv,
.nav>li.album {
    display: none;
}
@media only screen and (min-width: 980px) {
    .nav>li.tv,
    .nav>li.album {
        display: block;
    }
    .container-fluid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        /* 主轴对齐 */
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

/* music style added 20160715*/

.skCover {
    overflow: visible;
    left: 12px;
}

/* 控制音乐按钮 */

.u-checkbox {
    position: relative;
    z-index: 2;
    display: inline-block;
    height: 30px;
    width: 80px;
    color: #fff;
    line-height: 30px;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
    left: 355px;
}
.u-checkbox b {
    display: inline-block;
    height: 28px;
    width: 24px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.u-checkbox span {
    display: inline-block;
    width: 54px;
    font-size: 12px;
    text-align: center;
    padding-left: 24px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.u-checkbox.on {
    color: #fff;
    background-color: #04BE02;
}
.u-checkbox.on b {
    left: 56px;
}
/* 404 error */
.page-fullscreen .intro-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.page-fullscreen #tag-heading {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}
.page-fullscreen footer .copyright {
  color: #fff;
}
.page-fullscreen footer .copyright a {
  color: #fff;
}
.page-fullscreen footer .copyright a:hover {
  color: #ddd;
}