@charset 'UTF-8';

/**
  * @Desc  : 携程ued
  * @Build : 2016/08/03 
  * @Author: zww 
  * @Update: 2016/08/08 by zww 
*/

html {
    height: 100%;
}
body {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
    position: relative;
}

/* footer */

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.m-copyright {
    text-align: center;
    background-color: #191919;
    color: #fff;
    margin: 0;
}
.m-copyright .heart {
    display: inline-block;
    color: #fe7210;
    -webkit-animation: hearts-run 1.4s infinite forwards;
    position: relative;
    top: -1px;
    margin: 0 5px;
}
@-webkit-keyframes hearts-run {
    0% {
        -webkit-transform: scale(0.85);
    }
    50% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(0.85);
    }
}

/* nav */

.new-nav {
    background-color: #141414;
    border: 0 none;
}
.new-nav .nav li {
    margin: 0 10px;
}
.new-nav .nav li a {
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.new-nav .nav li a:hover {
    background-color: #fe7210;
    color: #fff;
}
.new-nav .nav li a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fe7210;
    color: #fff !important;
}
.input-group-addon {
    cursor: pointer;
}
.input-group-addon:hover {
    background-color: #fe7210;
    border-color: transparent;
    color: #fff;
}
.new-row {
    margin: 0;
    border-bottom: 1px solid #eee;
}
.item {
    border: 1px solid #eee;
    border-bottom: none;
}
.item:hover {
    background-color: #FFFFD0;
}
.item-info {
    padding: 10px 0;
}
.item-info a {
    color: #06c;
    margin-left: 20px;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 777;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.search-list {
    margin: 10px 0 12px;
    
}
.search-list a {
    margin-right: 5px;
    font-weight: normal;
}