<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}<script language="javascript" type="text/javascript" src="http://js.users.51.la/18667930.js"></script>
                    <br>
                    Theme by <a href="http://www.zhangweiwei.cn">ZhangWeiWei</a> ｜<span class="heart">♥</span>
                    <!--<iframe-->
                    <!--    style="margin-left: 2px; margin-bottom:-5px;"-->
                    <!--    frameborder="0" scrolling="0" width="91px" height="20px"-->
                    <!--    src="https://ghbtns.com/github-btn.html?user=huxpro&repo=huxpro.github.io&type=star&count=true" >-->
                    <!--</iframe>-->
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="show-tips">
    <div class="t-img">
        
    </div>
<div class="tools">
    <div class="tools_box">
        <span class="t-close">&times;</span>
        <a href="/demo/tools/border/index.html" class="hvr-bounce-to-bottom" target="_blank">三角形生成器</a>
        <a href="/demo/tools/hover/index.html" class="hvr-bounce-to-bottom" target="_blank">Tips</a>
        <a href="/demo/tools/hover/img.html" class="hvr-bounce-to-bottom" target="_blank">图片放大</a>
        <a href="/demo/tools/more/more.html" class="hvr-bounce-to-bottom" target="_blank">手风琴</a>
        <a href="/demo/tools/more/index.html" class="hvr-bounce-to-bottom" target="_blank">展开收起</a>
        <a href="/demo/tools/tab/index.html" class="hvr-bounce-to-bottom" target="_blank">tab组件</a>
        <a href="/demo/tools/touch/index.html" class="hvr-bounce-to-bottom" target="_blank">touch</a>
        <a href="/tools/cool-nav.html" class="hvr-bounce-to-bottom" target="_blank">nav</a>
        <a href="/tools/copy.html" class="hvr-bounce-to-bottom" target="_blank">copy</a>
        <a href="/tools/spa/index.html" class="hvr-bounce-to-bottom" target="_blank">单页spa</a>
        <a href="/demo/slide/slide.html" class="hvr-bounce-to-bottom" target="_blank">手机幻灯</a>
        <a href="/demo/slide/dd.html" class="hvr-bounce-to-bottom" target="_blank">手机幻灯2</a>
    </div>
</div>
</div>

<!-- search add by zww 20160720 -->
<div class="search-tool" style="position: fixed; width:100%;height:100%;top:-100%;left:0;
      opacity: 0.9;filter:alpha(opacity=90); background-color: #051223; z-index: 777; ">
    <input type="text" class="form-control search-content" id="search-content" style="" 
           placeholder="输入文章标题 日期 标签"
           >

    <div style="" class="search-close">
        <img src="/search/img/cb-close.png"  id="close-btn"/>
    </div>
</div>

<div class="component">
				<!-- Start Nav Structure -->
				<button class="cn-button" id="cn-button">-</button>
				<div class="cn-wrapper opened-nav" id="cn-wrapper">
				    <ul>
				      <li><a href="#"><span class="icon-picture"></span></a></li>
				      <li><a href="#"><span class="icon-headphones"></span></a></li>
				      <li><a href="#"><span class="icon-home"></span></a></li>
				      <li><a href="#"><span class="icon-facetime-video"></span></a></li>
				      <li><a href="#"><span class="icon-envelope-alt"></span></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay on-overlay"></div>
				<!-- End Nav Structure -->
</div>
<script src="../js/polyfills.js"></script>
<script>
    (function(){

	var button = document.getElementById('cn-button'),
    wrapper = document.getElementById('cn-wrapper'),
    overlay = document.getElementById('cn-overlay');

	//open and close menu when the button is clicked
	var open = false;
	button.addEventListener('click', handler, false);
	wrapper.addEventListener('click', cnhandle, false);

	function cnhandle(e){
		e.stopPropagation();
	}

	function handler(e){
		if (!e) var e = window.event;
	 	e.stopPropagation();//so that it doesn't trigger click event on document

	  	if(!open){
	    	openNav();
	  	}
	 	else{
	    	closeNav();
	  	}
	}
	function openNav(){
		open = true;
	    button.innerHTML = "-";
	    classie.add(overlay, 'on-overlay');
	    classie.add(wrapper, 'opened-nav');
	}
	function closeNav(){
		open = false;
		button.innerHTML = "+";
		classie.remove(overlay, 'on-overlay');
		classie.remove(wrapper, 'opened-nav');
	}
	document.addEventListener('click', closeNav);

})();

</script>



<link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">
<!-- jQuery -->
<script src="{{ "/demo/jquery.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>




<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript  -->
<script src="{{ "/js/zw.js " | prepend: site.baseurl }}"></script>
<script src="/js/jquery.lazyload.js"></script>
<script>
    $(function(){
        $("img").lazyload({ 
            effect : "fadeIn" 
        }); 
    })
</script>


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- Highlight.js -->
<script>
    async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
        hljs.initHighlightingOnLoad();
    })
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async("/js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>
<link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">

<!--fastClick.js -->
<script>
    async("http://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>
