<div class="mice-ui-pop-box js_pop_box" rel="弹层区域">
    <%if(title){%>
    <%if(ttype=='mask'){%>
    <div class="cui-hd js_hd dt--ui mice-hd-title" rel="透明头部" style="-webkit-transition: background .3s;
    	   transition: background .3s;"><%=title %>
        <!--<div class="lab-close-area js_btn_close"><span class="cui-top-close">×</span></div>-->
        <img class="mice-ui-pop-close js_btn_close"
             src="//webresource.c-ctrip.com/ResMiceOnline/R2/PurposeH5/images/pressed/close.png" />
    </div>
    <%}else if(ttype=='gray'){%>
    <div class="cui-hd js_hd dt--grayui" rel="灰色固定头部"><%=title %><div class="lab-close-area js_btn_close"><span class="cui-top-close">×</span></div></div>
    <%}else{%>
    <div class="cui-hd js_hd" rel="蓝色固定头部"><%=title %><div class="lab-close-area js_btn_close"><span class="cui-top-close">×</span></div></div>
    <%}%>
    <%} %>
    <% if(!!body && (typeof body).toLowerCase()=='string' && body.length>0){%>
    <div class="cui-bd js_swrapper" rel="中间带滚动条区域" style="overflow: hidden; position: relative; background-color: #fff;width: 100%;"><%=body%></div>
    <%}%>
    <%if(!!footer && (typeof footer).toLowerCase()=='string' && footer.length>0){%>
    <div class="cui-ft-fixed js_footer" rel="固定底部"><%=footer%></div>
    <%}%>
    <%if(!!btns){%>
    <div class="cui-roller-btns" rel="buttons">
        <%if(typeof btns == 'string'){ %>
        <%=btns %>
        <% } else { %>
        <% for(var i = 0, len = btns.length; i < len; i++ ) {%>
        <div class="cui-flexbd <%=btns[i].className%>"><%=btns[i].name%></div>
        <% } %>
        <%} %>
    </div>
    <%}%>
</div>