<div class="mice-success-case-layer">
    <div class="mice-success-case-layer-image">
        <img src="<%= caseH5Img1 %>">
        <div class="mice-success-case-layer-image-title">
            <%= caseTitle %>
        </div>
    </div>
    <div class="mice-success-case-layer-content">
        <p class="mice-success-case-layer-content-title mice-success-case-layer-date">
            <img src="//webresource.c-ctrip.com/ResMiceOnline/R2/PurposeH5/images/pressed/calendar.png" />
            <%= eventDate %>
        </p>
        <p class="mice-success-case-layer-content-title mice-success-case-layer-place">
            <img src="//webresource.c-ctrip.com/ResMiceOnline/R2/PurposeH5/images/pressed/earth.png" />
            <%= departurePlace %> 至 <%= destination %>
        </p>
        <p class="mice-success-case-layer-content-title mice-success-case-layer-number">
            <img src="//webresource.c-ctrip.com/ResMiceOnline/R2/PurposeH5/images/pressed/people.png" />
            <%= personNumber %>+ 人
        </p>
        <p class="mice-success-case-layer-desc">
            <%= caseDesc %>
        </p>
    </div>
</div>