html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
  margin: 0;
  padding: 0; }

img,
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

input,
textarea,
select,
button {
  font-family: 'Microsoft Yahei', 'Lucida Grande', Tahoma, Arial, Helvetica, 'Hiragino Sans GB', Simsun, STXihei, Sans-serif;
  font-size: 12px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

a {
  text-decoration: none;
  color: #06c;
  outline: none; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal; }

li {
  list-style: none; }

dfn {
  font-family: arial;
  font-style: normal; }

i,
em {
  font-style: normal; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: '\0020'; }

body {
  background-color: #fff;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
  -webkit-user-select: none;
  -ms-user-select: none;
  word-wrap: break-word;
  word-break: break-all;
  color: #999;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box; }

.div-apply {
  width: 100%;
  height: 100%; }

.content-box {
  position: relative;
  width: 100%;
  height: 100%; }

.content-box h2 {
  font-size: 0.9rem; }

.slide-text {
  font-size: 0.6rem;
  transition: all ease .3s;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ab2fd6;
  z-index: 99; }

.slide-box {
  position: absolute;
  left: 50%;
  margin-left: -6.425rem;
  height: 25.6rem; }

.slide-box ul {
  position: absolute;
  z-index: 2;
  width: 10.55rem;
  height: 25.6rem;
  background: transparent;
  margin-left: 1.125rem;
  margin-top: 3.75rem; }

.slide-box ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /*    z-index: 7;*/ }

.slide-box ul li img {
  width: 100%; }

.meng {
  position: absolute;
  left: -3px;
  top: 0;
  width: 12.875rem;
  height: 25.6rem; }

div .slide-text .curv h3 {
  color: #1daceb !important; }

.slide-text li {
  margin: 0.5rem;
  padding-left: 0.25rem; }

.slide-nav {
  left: -100%; }

.slide-box ul li .img1 {
  margin-left: 9px;
  margin-top: -16px;
  position: absolute;
  width: 0px;
  height: 0px; }

/* loading */
@-webkit-keyframes loading-ani {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes loading-ani {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
/* line 6, ../sass/loading.scss */
.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: #383231; }

/* line 11, ../sass/loading.scss */
.loading img {
  position: absolute;
  width: 4.2rem;
  height: 1.1rem;
  top: 50%;
  left: 50%;
  margin-top: -0.55rem;
  margin-left: -2.1rem; }

/* line 20, ../sass/loading.scss */
.loading .progress {
  position: absolute;
  width: 340px;
  height: 22px;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: -170px;
  border: 4px solid #eeefef;
  border-radius: 6px; }

/* line 31, ../sass/loading.scss */
.loading .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 100%; }

/* line 38, ../sass/loading.scss */
.loading .progress .bar .inner {
  width: 0%;
  height: 100%;
  background-color: #eeefef; }

/* line 45, ../sass/loading.scss */
.loading .loading-text {
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: -58px;
  position: absolute;
  width: 115px;
  height: 14px;
  background: url("http://wqs.jd.com/promote/CH77/2015/paper/images/loading-text.png") no-repeat;
  background-size: 100%; }

/* line 52, ../sass/loading.scss */
.loading .loading-jdc {
  top: 50%;
  left: 50%;
  margin-top: 140px;
  margin-left: -122px;
  position: absolute;
  width: 244px;
  height: 30px;
  background: url("http://wqs.jd.com/promote/CH77/2015/paper/images/loading-jdc.png") no-repeat;
  background-size: 100%; }

/* line 60, ../sass/loading.scss */
.complete {
  -webkit-animation: loading-ani 0.5s both;
  animation: loading-ani 0.5s both; }
