.corp-hd,
.corp-ft {
    display: none;
}
.sheader {
    display: block;
}
.sheader {
    padding: 0.5rem;
    background-color: #00417D;
}
.sheader .logo {
    display: inline-block;
    width: 4.2rem;
    height: 1.1rem;
    background: url(//pic.c-ctrip.com/corp_niv/logo_corpbiz_white.png?20160805) 0 0 no-repeat;
    background-size: 4.2rem 1.1rem;
}
body {
    background-color: #fff;
    margin: 0 auto;
    overflow-x: hidden;
    font: normal 14px/1.5 "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
    -webkit-user-select: none;
    -ms-user-select: none;
    word-wrap: break-word;
    word-break: break-all;
    color: #999;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    box-sizing: border-box;
}
.header {
    background: url(../images/i-banner.png);
    height: 6.375rem;
    min-width: 100%;
    background-size: cover;
    padding-top: 0;
}
.fixed-nav {
    display: none;
}
.wrapper {
    width: 100%;
}
.title {
    font-size: 1.2rem;
    padding-top: 1.375rem;
}
.x-title {
    font-size: 0.6rem;
    margin-top: 0.25rem;
}
.s-title {
    font-size: 0.45rem;
    margin: 0.875rem 0 0 0 !important;
}
.div-banner .text-box h1 {
    font-size: 0.9rem;
}
.div-banner .slide-text li {
    display: none;
}
.div-banner .i-slide-text {
    display: block;
}
.div-banner .i-slide-text {
    font-size: 0.6rem;
    margin-top: 0.375rem;
    color: #666;
}
.div-banner .text-box {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.div-banner .wrapper {
    background-image: url(../images/i-screen.png);
    background-size: 15.1rem 14.7rem;
    background-position: center 3.75rem;
    padding: 0.625rem 0;
}
.div-banner {
    height: 19rem;
}
.i-div-apply {
    display: block;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    padding: 1.125rem 0.5rem 0;
}
.div-apply {
    display: none;
}
.i-content img {
    width: 7.5rem;
    height: 12.625rem;
    float: left;
}
.i-pic-txt {
    float: right;
    width: 50%;
    color: #fff;
    font-size: 0.6rem;
    padding-top: 24%;
}
.i-content {
    margin-top: 1.5rem;
}
.i-pic-txt li {
    margin-bottom: 0.75rem;
    position: relative;
    padding-left: 0.3rem;
}
.i-pic-txt li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0.35rem;
    width: 0.2rem;
    height: 0.2rem;
    background-image: url(../images/s-icon1.png);
    background-size: 0.2rem 0.2rem;
    background-position: left 45%;
}
.i-pic-txt li:last-child {
    margin-bottom: 0;
}
.i-title {
    text-align: center;
    color: #fff;
}
.i-title strong {
    font-size: 0.9rem;
    font-weight: normal;
}
.i-title h2 {
    font-size: 0.5rem;
}
.div-trip {
    display: none;
}
.i-div-trip {
    background: #fff;
}
.i-div-trip .i-title strong {
    color: #1daceb;
}
.i-div-trip .i-title h2 {
    color: #666666;
}
.i-div-trip .i-pic-txt {
    color: #999999;
    float: left;
    padding-top: 20%;
}
.i-div-trip .i-pic-txt li {
    position: relative;
}
.i-div-trip .i-pic-txt li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0.35rem;
    width: 0.2rem;
    height: 0.2rem;
    background-image: url(../images/s-icon.png);
    background-size: 0.2rem 0.2rem;
    background-position: left 45%;
}
.i-div-trip .i-content img {
    float: right;
}
.div-bu,
.div-rep,
.download {
    display: none;
}
.i-down {
    display: block;
    text-align: center;
    background-color: #eaeff3;
    padding: 0.75rem 0;
}
.i-down a {
    color: #fff;
    background-color: #0195ff;
    font-size: 0.7rem;
    border-radius: 2rem;
    display: block;
    margin: auto;
    width: 9.5rem;
    height: 2rem;
    line-height: 2rem;
}
.i-down a:nth-of-type(1):before {
    content: "";
    width: 0.975rem;
    height: 1.125rem;
    background-image: url(../images/i-phone.png);
    display: inline-block;
    background-size: 0.975rem 1.125rem;
    margin-right: 0.375rem;
    vertical-align: sub;
}
.i-down a:nth-of-type(2) {
    margin-top: 20px;
}
.i-down a:nth-of-type(2):before {
    content: "";
    width: 1.05rem;
    height: 1.275rem;
    background-image: url(../images/i-androd.png);
    display: inline-block;
    background-size: 1.05rem 1.275rem;
    margin-right: 0.375rem;
    vertical-align: sub;
}
.i-down p {
    font-size: 0.9rem;
    color: #666;
}
.i-down p:nth-child(2) {
    font-size: 0.6rem;
    margin: 20px 0;
}
.corpright {
    display: block;
    padding: 0.375rem 0;
    font-size: 5px;
    color: #fff;
    line-height: 2;
    text-align: center;
    background-color: #545A64;
}
[data-dpr="2"] .corpright {
    font-size: 10px;
}
[data-dpr="3"] .corpright {
    font-size: 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 350px) {
    .i-title h2 {
        font-size: 0.35rem;
    }
}