@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
  margin: 0;
  padding: 0; }

img,
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

input,
textarea,
select,
button {
  font-family: 'Microsoft Yahei', 'Lucida Grande', Tahoma, Arial, Helvetica, 'Hiragino Sans GB', Simsun, STXihei, Sans-serif;
  font-size: 12px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

a {
  text-decoration: none;
  color: #06c;
  outline: none; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal; }

li {
  list-style: none; }

dfn {
  font-family: arial;
  font-style: normal; }

i,
em {
  font-style: normal; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: '\0020'; }

.container {
  background-color: #c9c9c9;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
  -webkit-user-select: none;
  -ms-user-select: none;
  word-wrap: break-word;
  word-break: break-all;
  color: #999;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute; }

.pages {
  width: 100%;
  height: 100%; }

.div-apply {
  width: 100%;
  height: 100%; }

.content-box {
  position: relative;
  width: 100%;
  height: 100%; }

.content-box h2 {
  font-size: 0.9rem;
  display: none;
  text-align: center;
  background-color: #3468af;
  padding: 0.35rem 0;
  position: absolute;
  width: 100%;
  z-index: 77; }

.content-box h2 a {
  color: #fff; }

.slide-text {
  display: none;
  font-size: 0.9rem;
  -webkit-transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
  transition: all cubic-bezier(0, 0, 0.2, 1) 0.2s;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  padding: 4rem 0 1rem 0; }

.slide-box {
  position: relative;
  height: 22.4rem;
  width: 11.1rem;
  margin: auto;
  display: none;
  top: -0.9rem; }

.slide-box ul {
  position: absolute;
  z-index: 2;
  width: 9.475rem;
  height: 16.775rem;
  background: transparent;
  top: 4.4rem;
  left: 0.75rem; }

.slide-box ul li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #969696;
  box-sizing: border-box; }

.slide-box ul li img {
  width: 100%;
  display: none; }

.meng {
  display: none;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 11.1rem;
  height: 22.4rem; }

div .slide-text .curv h3 {
  background-color: #3468af;
  color: #fff !important;
  border-radius: 0.25rem; }

.slide-text li {
  margin: 1.1rem auto;
  width: 11.5rem;
  position: relative;
  text-align: center;
  color: #333333; }
  .slide-text li:first-child {
    margin-top: 0; }
    .slide-text li:first-child::before {
      content: "";
      position: absolute;
      display: block;
      width: 2.5rem;
      height: 1.9rem;
      background-image: url(../images/car.png);
      background-size: cover;
      background-repeat: no-repeat;
      left: 50%;
      top: -150%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .slide-text li:last-child, .slide-text li:nth-child(4) {
    margin-bottom: 0; }
    .slide-text li:last-child::after, .slide-text li:nth-child(4)::after {
      border: 0 none; }
  .slide-text li:last-child {
    margin-top: 4rem; }
    .slide-text li:last-child::before {
      content: "";
      position: absolute;
      display: block;
      width: 2.575rem;
      height: 1.9rem;
      background-image: url(../images/boss.png);
      background-size: cover;
      background-repeat: no-repeat;
      left: 50%;
      top: -150%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .slide-text li::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5rem 0.5rem 0 0.5rem;
    border-color: #ca3d48 transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -0.55rem;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }

div .slide-text h3 {
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  background-color: #eeeeee; }

.slide-nav {
  -webkit-transform: translate3d(-200%, -50%, 0);
  transform: translate3d(-200%, -50%, 0); }

.slide-box ul li .img1 {
  position: absolute;
  width: 1.5rem !important;
  height: 1.5rem !important; }

/* loading */
@-webkit-keyframes loading-ani {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes loading-ani {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@-webkit-keyframes loading-img {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes loading-img {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
.show-tips {
  animation: loading-img 1.2s 0s infinite;
  -webkit-animation: loading-img 1.2s 0s infinite; }

/* line 6, ../sass/loading.scss */
.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  background-color: #383231; }

/* line 11, ../sass/loading.scss */
.loading img {
  position: absolute;
  width: 114px;
  height: 46px;
  top: 50%;
  left: 50%;
  margin-top: 4px;
  margin-left: -45px; }

/* line 20, ../sass/loading.scss */
.loading .progress {
  position: absolute;
  width: 340px;
  height: 22px;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: -170px;
  border: 4px solid #eeefef;
  border-radius: 6px; }

/* line 31, ../sass/loading.scss */
.loading .progress .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 100%; }

/* line 38, ../sass/loading.scss */
.loading .progress .bar .inner {
  width: 0%;
  height: 100%;
  background-color: #eeefef; }

/* line 45, ../sass/loading.scss */
.loading .loading-text {
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: -56px;
  position: absolute;
  width: 112px;
  height: 30px;
  background: url("http://pic.c-ctrip.com/corp_niv/logo_corpbiz_white.png") no-repeat;
  background-size: 100%; }

/* line 52, ../sass/loading.scss */
.complete {
  -webkit-animation: loading-ani 0.5s both;
  animation: loading-ani 0.5s both; }

.click-tips {
  position: absolute;
  display: none;
  background-color: #3468af;
  color: #fff;
  font-size: 0.6rem;
  border-radius: 0.25rem;
  padding: 0 0.375rem;
  height: 1.25rem;
  line-height: 1.25rem; }

/*  左边减8 上边加6*/
.click-tips:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.25rem 0.4rem 0.25rem;
  border-color: transparent transparent #3468af transparent;
  position: absolute;
  left: 50%;
  margin-left: -0.2rem;
  content: "";
  top: -0.35rem; }

.type-left,
.type-right {
  border-radius: 0.25rem; }

.type-left:before {
  margin-left: 0;
  left: 0.25rem; }

.type-right:before {
  margin-left: 0;
  right: 0.25rem;
  left: auto; }

.type-left-down:before {
  border-width: 0.4rem 0.25rem 0 0.25rem;
  border-color: #3468af transparent transparent transparent;
  bottom: -0.35rem;
  left: 18%;
  top: auto; }

.type-right-down:before {
  border-width: 0.4rem 0.25rem 0 0.25rem;
  border-color: #3468af transparent transparent transparent;
  bottom: -0.35rem;
  right: 18%;
  top: auto;
  left: auto; }

.type-down:before {
  border-width: 0.4rem 0.25rem 0 0.25rem;
  border-color: #3468af transparent transparent transparent;
  bottom: -0.35rem;
  top: auto;
  margin-left: -0.2rem; }

.c-start {
  width: 100%;
  height: 100%;
  background-image: url(../images/start-bg.png);
  background-size: cover;
  background-position: top center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0; }
  .c-start .c-logo {
    width: 4.375rem;
    height: 1.275rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem; }
  .c-start .c-ready {
    font-size: 0.9rem;
    color: #fff;
    display: block;
    width: 7rem;
    background-color: #3468af;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.5rem 0;
    position: absolute;
    left: 50%;
    margin-left: -3.5rem;
    bottom: 1.875rem; }

.demo {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 0.6rem;
  z-index: 9999; }

.fix-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: yellow;
  height: 60px;
  display: none; }

.tip-text {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: auto;
  background-color: #fff;
  z-index: 777;
  font-size: 0.65rem;
  padding: 0.25rem 0;
  color: #666; }
  .tip-text .up-text {
    padding: 0 2em; }

.tip-text {
  display: none; }

.c-words {
  text-align: center;
  color: #fff;
  padding-top: 3rem; }
  .c-words p:first-child {
    font-size: 1.05rem;
    margin-bottom: 0.25rem; }
  .c-words p:last-child {
    font-size: 0.9rem; }

.body-bg {
  background-image: url(../images/body_bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
