<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->

<!-- Migrate from head to bottom, no longer block render and still work -->

<!-- Tencent QQ Analysis -->
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=43623438" charset="UTF-8"></script>
<!-- 163 music player -->
    <div id="music-panel">
        <a id="music-control" href="javascript:;" onclick="toggleMusicPanel()"></a>
        <div id="music-content">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="330" height="450" src="http://music.163.com/outchain/player?type=0&amp;id=102978561&amp;auto=0&amp;height=430"></iframe>
        </div>
    </div>
    <div class="actGotop">
        <a href="javascript:;" title="Top"></a>
    </div>
    <!--<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>-->
    <script>
        var isFirstToggleMusic = true;
        function toggleMusicPanel() {
            $('#music-control').toggleClass('on');
            if (isFirstToggleMusic) {
                isFirstToggleMusic = false;
            }
        }
        $(function() {
            $('#music-control').mouseenter(function() {
                $('#music-control').addClass('on');
                $('#music-content').show();
            });
            $('#music-content').mouseleave(function() {
                $('#music-control').removeClass('on');
                $('#music-content').hide();
            });
        $(window).scroll(function() {		
		  if($(window).scrollTop() >= 100){
			$('.actGotop').fadeIn(300); 
		  }else{    
			$('.actGotop').fadeOut(300);    
		}  
	});
	   $('.actGotop').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});	
        })
        
    </script>
</body>

</html>
