<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="http://www.zhangweiwei.cn/demo/reset.css">
    <script type="text/javascript" src="http://www.zhangweiwei.cn/tools/yy/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.zhangweiwei.cn/tools/yy/js/speakker-big.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            projekktor('.projekktor');
        });
    </script>
{% include head.html %}

<!-- hack iOS CSS :active style -->

<body ontouchstart="">

    {% include nav.html %} {{ content }} {% include footer.html %}


    <!-- Image to hack wechat -->

    <!-- zww music player -->
    <div class="inside" style="box-sizing:content-box !important;">
            <audio class="projekktor speakker dark">
                <source src="http://www.zhangweiwei.cn/tools/yy/js/playlist.js" type="application/json" />
            </audio>
    </div>
    <script type="text/javascript" src="http://www.zhangweiwei.cn/tools/yy/js/noise.js"></script>
    <div class="actGotop">
        <div class="plane"></div>
        <div class="back-info">返回顶部</div>
    </div>
</body>

</html>
