---
layout: default
---


<header class="intro-header" id="home-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1 class="link link--yaku">
                        <span>Z</span><span>V</span><span>V</span><span>V</span>
                    </h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ content }}
                <!-- friends -->
                {% if site.friends %}
                <div class="sidebar-container">
                    <h5>FRIENDS</h5>
                    <ul class="list-inline">
                        {% for friend in site.friends %}
                            <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% else %}
<!-- USE SIDEBAR -->
           <!-- ad S -->
           <div class="tips" style="color:blueviolet;padding-left: 15px;">前端交流、学习、进阶Q群：<a href="//shang.qq.com/wpa/qunwpa?idkey=667bcf5614f549780dd28f4c1ffe979d6a115cd711b660a65aff18843d6f3f54" style="color:red;">177932362</a> </div>
           <!-- ad E -->
           
            <!-- Main -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-10 col-sm-offset-1
                post-container new-page
            " >
    			{{ content }}
    		</div>
            <!-- SideBar -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-10 col-sm-offset-1
                sidebar-container
            ">
               
               <!-- weather  -->
               <section>
                   <h5><a href="###">音乐</a></h5>
                   <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=450 src="http://music.163.com/outchain/player?type=0&id=102978561&auto=1&height=430"></iframe>
               </section>
               
                <!-- Featured Tags -->
                <section >
                    <h5><a href="/tags/">标签</a></h5>
                    <div class="tags">
                        <a href="/tags/#css" title="css" rel="2">
                                    css
                                </a>
                        <a href="/tags/#background" title="background" rel="2">
                                    background
                                </a>
                        <a href="/tags/#三角" title="三角" rel="2">
                                    三角
                                </a>
                        <a href="/tags/#数组" title="数组" rel="2">
                                    数组
                                </a>
                        <a href="/tags/#幻灯片" title="幻灯片" rel="2">
                                    幻灯片
                                </a>
                        <a href="/tags/#css中的框" title="css中的框" rel="2">
                                    css中的框
                                </a>
                        <a href="/tags/#css动画" title="css动画" rel="2">
                                    css动画
                                </a>
                        <a href="/tags/#瀑布流" title="瀑布流" rel="2">
                                    瀑布流
                                </a>
                        <a href="/tags/#nav导航" title="nav导航" rel="2">
                                    nav导航
                                </a>
                        <a href="/tags/#强制换行" title="强制换行" rel="2">
                                    强制换行
                                </a>
                        <a href="/tags/#css动画" title="css动画" rel="2">
                                    css动画
                                </a>
                        
        			</div>
                </section>
                <!-- Short About -->
                <section class="visible-md visible-lg">
                    <h5><a href="/about/">关于</a></h5>
                    <div class="short-about">
                        {% if site.sidebar-avatar %}
                                <div class="wrap">
                                    <div class="zww-about">
                                        <div class="about-front about-face">
                                            <img src="/img/intro.png" alt="搏上一切" width="200" height="150">
                                        </div>
                        <div class="about-back about-face">
                            <div class="back-mask"><img src="{{site.sidebar-avatar}}" alt="" width="200" height="150">
                            </div>
                <div class="back-content">
                    <h4 class="title"><a>阿威</a></h4>
                    <div class="des">一个喜欢折腾的家伙</div>
                    <div class="des">就职：携程旅行网</div>
                    <div class="des">QQ：512932926</div>
                </div>
            </div>
        </div>
    </div>
                        {% endif %}
                        {% if site.sidebar-about-description %}
                            <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                        <!-- SNS Link -->
                        <ul class="list-inline">
                            {% if site.RSS %}
                            <li>
                                <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.twitter_username %}
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.zhihu_username %}
                            <li>
                                <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">知</i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.weibo_username %}
                            <li>
                                <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.facebook_username %}
                            <li>
                                <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% if site.github_username %}
                            <li>
                                <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </section>
                <!-- Friends Blog -->
                {% if site.friends %}
                <h5><a href="javascript:void(0)">友链</a></h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}   
    		</div>
        {% endif %}
	</div>
</div>