---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }
</style>
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
           <!-- 去掉col-lg-offset-2 margin-left16.67% -->
            <div class="col-lg-8  col-md-10 col-md-offset-1 post-container">
              <!-- 广告区域 -->
               <!--
                <div class="tips" style="color:blueviolet;">前端交流、学习、进阶Q群：<a href="//shang.qq.com/wpa/qunwpa?idkey=667bcf5614f549780dd28f4c1ffe979d6a115cd711b660a65aff18843d6f3f54" style="color:red;">177932362</a> </div>
                -->
				{{ content }}

                <hr>

                {% if site.useDuoshuo && site.useShare %}
                <!-- 百度 Share start -->
                
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a></div>
                <!-- 百度 Share end-->
                {% endif %}


                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>


                {% if site.useDuoshuo %}

                <!-- 163 BEGIN -->
                <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                <!-- 163 END -->

                {% endif %}

                <!-- friends -->
                {% if site.friends %}
                <div class="sidebar-container">
                    <h5><a href="###">FRIENDS</a></h5>
                    <ul class="list-inline" style="
                        margin-bottom: 0;
                    ">
                        {% for friend in site.friends %}
                            <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                
            </div>
                           <!-- Article sidebar designed by zww -->
                <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-10 col-sm-offset-1
                sidebar-container
            ">
                <!-- Featured Tags -->
                <section >
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        <a href="/tags/#css" title="css" rel="2">
                                    css
                                </a>
                        <a href="/tags/#background" title="background" rel="2">
                                    background
                                </a>
                        <a href="/tags/#三角" title="sanjiao" rel="2">
                                    三角
                                </a>
                        <a href="/tags/#数组" title="shuzu" rel="2">
                                    数组
                                </a>
                        <a href="/tags/#幻灯片" title="huandengpian" rel="2">
                                    幻灯片
                                </a>
                        <a href="/tags/#css中的框" title="css" rel="2">
                                    css中的框
                                </a>
                        <a href="/tags/#css动画" title="shuzu" rel="2">
                                    css动画
                                </a>
                        <a href="/tags/#瀑布流" title="shuzu" rel="2">
                                    瀑布流
                                </a>
                        <a href="/tags/#nav导航" title="shuzu" rel="2">
                                    nav导航
                                </a>
                        <a href="/tags/#强制换行" title="shuzu" rel="2">
                                    强制换行
                                </a>
                        <a href="/tags/#css动画" title="shuzu" rel="2">
                                    css动画
                                </a>
                        
        			</div>
                </section>
            </div>
        </div>
    </div>
</article>


{% if site.useDuoshuo %}
<!-- 163评论+百度分享 start (一个网页只需插入一次) -->
<script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "a694cac083884859aab91fb19aa6e809",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- 163评论+百度分享 end -->
{% endif %}


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("http://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}
